// .zzz{

//     border: black solid 4px;
// }

.CarouselItem img{
  margin-top: 20px;
  width: 180px;
  height: 200px;


}
.CarouselItem img:active{
  width:450px ;
  height: 450px;
}


.Carousel-indicators-2
{
  display: none;
}
