.et_pb_image_wrap, img{
  max-width: 800px ;
  width: 200px;

}
.listItems{
  margin-left: 10px;
  border: olivedrab solid 1px;
  display:flex;
  background: linear-gradient(90deg, rgb(149, 232, 162), rgb(82, 182, 173));}


